<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-4 bg-white mt-3 p-3" style="max-height: 150px">
            <form>
                <div class="form-group">
                    <label for="addBurgerName">New Burger Name</label>
                    <input type="text" class="form-control" id="addBurgerName"
                        placeholder="Enter new tasty burger name">
                </div>
                <button type="submit" id="addBurgerButton" class="btn btn-primary">Add Burger</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {{#each burgers}}
            {{#unless devoured}}
            <div class="card mt-1 mb-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{burger_name}}</h5>
                    <button type="button" class="js-eatmeButton btn btn-primary" data-id={{id}}>Eat It!</button>
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-6">
            {{#each burgers}}
            {{#if devoured}}
            <div class="card mt-1 mb-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{burger_name}}</h5>
                    <button type="button" class="js-againButton btn btn-primary" data-id={{id}}>Enjoy again</button>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>